.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.firstPart{
    transition: transform 0.3s ease;
}
.firstPart:hover {
    transform: scale(1.1);
}
.aboutUsImage{
    transition: transform 0.3s ease;
}
.aboutUsImage:hover {
    transform: scale(1.1);
}
.aboutUsText{
    /* transition: transform 0.9s ease; */
    transition: transform 0.3s ease;
}
.aboutUsText:hover {
    /* transform: translateY(-20px); */
    transform: scale(1.1);
}
.about-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #333;
}

.about-title::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #004ec2;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-radius: 2px;
}

.aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start;  */
    gap: 20px; 
    /* padding: 20px;  */
}

.firstPart {
    display: flex;
    flex-direction:column;
    width: 45%;
    margin-left: 3rem;
    border: 1px solid #e0e0e0; /* Add a subtle border */
    box-shadow: 0 4px 10px rgba(3, 3, 3, 0.1); /* Adjust shadow for better visibility */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
    background-color: #fff; /* Ensure background is white */
}

.aboutUsIconPlusText {
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-bottom: 20px; 
}

.aboutUsIcon {
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 24px; 
    color: #9fe870; 
}

.aboutUsIconText {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.aboutUsIconText h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.aboutUsIconText p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.aboutUsImage {
    width: 71%; 
    margin-left: 3rem;
    border-radius: 10px;
}

.aboutUsText {
    width: 45%; 
    font-size: 14px;
    line-height: 1.5;
    color: #666; 
    padding: 25px; 
    margin-right: 3rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(3, 3, 3, 0.1);
}

.aboutUsText p{
    font-family: inherit; 
    white-space: pre-wrap;
    margin: 0; 
}
span{
    color: #004ec2;
}