/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* .login-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 500px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: rgb(240, 230, 235);
  }
.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
} */
/* .social-btn:hover{
  color: blue;
} */
/* .facebook { */
  /* background: #3b5998; */
  /* background-color: white;
  color: rgb(0, 0, 0);
  opacity: .5;
} */

/* .google {
  background: #db4437;
  color: white;
} */

/* .or-text {
  margin: 15px 0;
  font-weight: bold;
} */
/* 
input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
} */

/* .login-btn {
  background: blue;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
i{
  margin-right: .7rem;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}